.ant-layout {
    height: 100%;
}

.logo-box {
    display: flex;
    justify-content: center;
    .logo {
        width: 180px;
        height: 80px;
        padding: 10px;
    }
}

.header-box {
    display: flex;
    justify-content: space-between;
    padding-right: 20px !important;

    .user-main {
        padding-right: 30px !important;
        display: flex;
        align-items: center;
        .user-avatar {
            width: 30px;
            height: 30px;
            border-radius: 6px;
        }
    }

    .user-name {
        margin-right: 10px;
    }

    .user-icon {
        font-size: 20px;
        cursor: pointer;
    }
}
